@charset "utf-8";

.section_inner {
    padding: 50px 10% 30px;
}

.key {
    padding: 30px 10% 50px;
    height: 500px;
    background: center / cover no-repeat url("../Images/sample_key.jpg");
    
}


